@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-kanit);
  --color-brand: #f97316;
  --color-brand-dark: #ea580c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kanit), sans-serif;
}
